.jumbotron{
	background-color: gold;
	color: black;
	margin-top: 50px;
}

.footer{
	padding: 10px 10px 0 10px;
	background-color: gold;
	margin-bottom: 0px;
	margin-top: 40px
}

.card-hotel{
	/*padding: 10px 20px 10px 20px;*/
	margin-top: 30px;
	flex: 1 200px;
}

.btn-reserva{
	width: 90%;
	position: absolute;
	left: 20px;
	right: 20px;
	botton: 0;
	/*border-radius: 0px;*/
}

.btn-contacto{
	width: 80%;
	position: center;
	left: 20px;
    margin-bottom: 0px;
	
}

.footer-address-icon{
	padding-right: 10px;/* Permite tener una separación entre los iconos y el texto de 10 px*/
}

.tab-content{
	padding-top: 10px; /*Genera una separación entre la tabla y los encabezados tab
}


