$yellow:#F0D616;
$blue:#50c7c7;
$verde:#38f23e;
$white:#ffffff;



@mixin margenes($top,$bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron{
	background-color: $blue;
	color: black;
	@include margenes(50px, 0px);
}

.footer{
	padding: 10px 10px 0 10px;
	background-color: $yellow;
	@include margenes(40px, 0px);
}

.card-hotel{
	/*padding: 10px 20px 10px 20px;*/
	flex: 1 200px;
	@include margenes(30px, 0px);
}

.btn-reserva{
	width: 90%;
	position: absolute;
	left: 20px;
	right: 20px;
	botton: 0;
	/*border-radius: 0px;*/
}

.btn-contacto{
	width: 80%;
	position: center;
	left: 20px;
    @include margenes(0px, 0px);
	
	
}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}
