.jumbotron {
  background-color: #50c7c7;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #F0D616;
  margin-top: 40px;
  margin-bottom: 0px; }

.card-hotel {
  /*padding: 10px 20px 10px 20px;*/
  flex: 1 200px;
  margin-top: 30px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 90%;
  position: absolute;
  left: 20px;
  right: 20px;
  botton: 0;
  /*border-radius: 0px;*/ }

.btn-contacto {
  width: 80%;
  position: center;
  left: 20px;
  margin-top: 0px;
  margin-bottom: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
